.custom-services {
    border-radius: 0px;
    color: black;
}

.home-about {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../img/quinta.jpg") center/cover no-repeat fixed;
}

.home-services {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../img/suite.jpg") center/cover no-repeat fixed;
}

.ding::before {
    position: absolute;
    left: 45%;
    content: '';
    width: 10%;
    height: 4px;
    background: #C1B086;
}

.heading h2{
    padding-top: 1rem;
}

.nav-tabs .nav-link {
    /*border: 1px solid gray;*/
    background: #eee;
}

.contact-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../img/piso.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-extra img{
	max-width: 100%;
}

.gallery-extra {
	padding: 80px 0;
}

.gallery-extra img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}

#gallery-modal .modal-img{
	width: 100%;
}


@media screen and (max-width:480px) {
    .about .about-content {
        padding: 10px!important;
    }
}